@import url(../css/main.css);
.container-features {
    background-image: url(../img);
    max-width: 1180px;
    padding: 0 20px;
    margin: 50px auto;
}

.display-main {
    min-width: 350px;
    max-width: 450px;
    margin: 0 auto;
}

.display-main h2 {
    color: var(--VeryDarkBlue);
    text-align: center;
    letter-spacing: 1px;
}

.display-main p {
    margin: 20px 0;
    color: var(--GrayishBlue);
    text-align: center;
}

.btns-features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px auto;
}

.btn-features {
    width: 350px;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 60px;
    background-color: white;
    color: var(--GrayishBlue);
    border: none;
    border-bottom: 1px solid var(--GrayishBlue);
    transition: 0.3s;
}

.btn-features:hover {
    color: var(--SoftRed);
    border-bottom: 4px solid var(--SoftRed);
}

.feature-container {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 20px;
}

.feature-container img {
    min-width: 350px;
    max-width: 500px;
}

.display-features {
    min-width: 350px;
    max-width: 420px;
}

.display-features h2 {
    letter-spacing: 1px;
    color: var(--VeryDarkBlue);
    margin: 20px 0;
}

.display-features p {
    line-height: 25px;
    color: var(--GrayishBlue);
    margin: 20px 0;
}

.display-features button {
    background-color: var(--SoftBlue);
    margin: 10px 0;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.527);
}

@media (max-width:950px) {
    .feature-container {
        justify-content: center;
    }
    .display-features h2 {
        text-align: center;
    }
    .display-features p {
        text-align: center;
    }
}

@media (max-width: 420px) {
    
    .display-features h2 {        
        margin: 70px 0 20px;
    }
}