@import url(./main.css);

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

footer .footer-header{
    color: white;
    text-align: center;
    background-color:  var(--SoftBlue);
    width: 100%;
    min-height:50vh ;
    display: flex;
   
    flex-direction: column;
   
}

footer .footer-header .footer-box{
    
    max-width: 45vw;
    margin: 60px auto 0px auto;
}

footer .footer-header .footer-box form{
    position: relative;
    height: 100%;
}

footer .footer-header  .footer-box small{
    font-family: 'Rubik';
    letter-spacing: 3px;
    font-family: 'Rubik',sans-serif;
    font-weight: 500;
    font-size: 0.7rem;

}

footer .footer-header   .footer-box h3{
    font-size: 2rem;
    margin: 20px 0px;
}

footer .footer-header .footer-box .label-input{
   position: relative;
    height: 100%;
    width: 100%;
}

footer .footer-header  .footer-box .label-input #svg-error{
    position: absolute;
    right: 15px;
    top: 2px;
    display: none;
}
footer .footer-header  .footer-box .label-input #svg-error.error{
    display: block;
}
footer .footer-header  .footer-box .label-input input[type="email"]{
    background-color: white;
    border-radius: 4px;
    border: var(--SoftBlue) solid 2px;
    padding: 14px 22px;
    outline: none;
    color: rgb(177, 177, 177);
    
}

footer .footer-header  .footer-box .label-input input[type="email"].error{
    border: var(--SoftRed) solid 2px;
   
}


footer .footer-header  .footer-box .label-input input[type="email"]::before{
    content: icon;
    background-color: red;
   
}

footer .footer-header  .footer-box .label-input input[type="email"]::placeholder{
color: rgb(177, 177, 177);
}

footer .footer-header  .footer-box button{
    background-color: var(--SoftRed);
    padding: 14px 22px;
    border: 2px solid var(--SoftBlue);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}

footer .footer-header .footer-box button:hover{
    background-color: white;
    border: 2px solid var(--SoftRed);
    color: var(--SoftRed);
    transition: background-color 0.3s ease, border 0.3s ease color 0.3s ease;

}

footer  .bottom-footer{
    width: 100%;
    height: 4rem;
    background-color: var(--VeryDarkBlue);
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    
}

footer .bottom-footer .social-media{
    display: flex;
    width: 40vw;
    justify-content: center;
    
}
footer .bottom-footer ul{
    height: 100%;
    
    align-items: center;
    display: flex;
   
}
footer .bottom-footer ul li {
    padding: 10px;
    color: white;
    font-size: 1rem;
    transition:  color 0.3s ease;
}

footer .bottom-footer ul li:hover{
    color: var(--SoftRed);
    transition:  color 0.3s ease;
}

footer .bottom-footer ul li:first-child{
    margin-right: 60px;
}

footer .bottom-footer ul  li img{
    fill: white;
}

footer .footer-header .footer-box form .label-input .error-field{
    background: var(--SoftRed);
    font-size: 0.7rem;
    font-style: italic;
    position: absolute;
    border-radius: 0px 0px 5px 5px;
    top: 30px;
    left: 0px;
    width: 217px;
    
    text-align: left;
}


/* TENTANDO COLORIR O SVG TEXT FOOTER */

.fab{
    font-size: 1.5rem;
    color: white;
}