@import url(../css/main.css);
header {
    background-image: url(../img);
    max-width: 1180px;
    padding: 0 20px;
    margin: 50px auto;
}

/* navegação */

nav {
    padding: 0 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    margin-right: 60px;
}

nav li {
    display: inline;
}

.menu a {
    font-weight: 500;
    letter-spacing: 2px;
    color: black;
    font-size: 12px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: 0.3s;
}

.menu button {
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    border-radius: 6px;
    letter-spacing: 2px;
    background-color: var(--SoftRed);
    color: white;
    border: 1px solid white;
    padding: 10px 25px;
    transition: 0.3s;
}

.menu button:hover {
    color: var(--SoftRed);
    background-color: white;
    border: 1px solid var(--SoftRed);
}

.menu li a:hover {
    color: var(--SoftRed);
}

.menu-mobile {
    display: none;
}

.menu-mobile button {
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.menu-mobile span {
    display: block;
    margin: 3px 0;
    width: 20px;
    height: 3px;
    background-color: var(--VeryDarkBlue);
}

.display-menu {
    display: none;
    position: fixed;
    opacity: 0.8;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: var(--VeryDarkBlue);
}

.btns-menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-menu-mobile {
    color: white;
    border: none;
    border-top: 1px solid var(--GrayishBlue);
    border-bottom: 1px solid var(--GrayishBlue);
    padding: 20px;
    background-color: var(--VeryDarkBlue);
    opacity: 0.8;
}

.btn-menu-mobile:active {
    border-radius: 5px;
    border: 2px solid white;
}

.btn-menu-mobile a {
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.btn-close {
    border: none;
    background-color: var(--VeryDarkBlue);
    opacity: 0.8;
}

.display-menu div {
    display: flex;
    justify-content: space-between;
    padding: 30px 48px 30px 40px;
}

/* hero */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px 0;
}

.display-hero {
    max-width: 470px;
}

.hero img {
    max-width: 560px;
    position: relative;
    animation: move 5s ease infinite;
}

.btn-hero {
    display: flex;
    justify-content: start;
}

@keyframes move {
    0%, 100% {
        top: 0;
    }
    50% {
        top: 20px;
    }
}

.display-hero h1 {
    color: var(--VeryDarkBlue);
    font-size: 2.8em;
}

.display-hero p {
    margin: 25px 0;
    color: var(--GrayishBlue);
}

.btn-hero {
    display: flex;
    gap: 20px;
}

.btn-hero button {
    cursor: pointer;
    border-radius: 6px;
    font-weight: 600;
    padding: 15px 25px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.192);
    transition: 0.3s;
}

.btn-hero button:nth-child(1) {
    border: 1px solid var(--SoftBlue);
    color: white;
    background-color: var(--SoftBlue);
}

.btn-hero button:nth-child(2) {
    border: 1px solid rgb(252, 252, 252);
    background-color: rgb(252, 252, 252);
    color: var(--GrayishBlue);
}

.btn-hero button:nth-child(1):hover {
    background-color: white;
    color: var(--SoftBlue);
}

.btn-hero button:nth-child(2):hover {
    border: 1px solid var(--GrayishBlue);
}

@media (max-width: 850px) {
    body {
        width: 100vw;
    }
    .hero {
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
    .hero img {
        max-width: 350px;
    }
    .display-hero h1 {
        margin: 35px 0;
        font-size: 28px;
    }
    .hero img {
        animation: none;
    }
    .btn-hero {
        display: flex;
        justify-content: center;
    }
    nav {
        position: fixed;
        background-color: white;
        top: 0;
        left: 0;
        padding: 20px 40px;
        width: 100%;
        z-index: 2;
    }
}