@import url(../css/main.css);
header {
    background-image: url(../img);
    max-width: 1180px;
    padding: 0 20px;
    margin: 50px auto;
}

/* navegação */

#header {
    padding: 0 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    display: flex;
    align-items: center;
}

#menu a {
    font-weight: 500;
    letter-spacing: 2px;
    color: black;
    font-size: 12px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: 0.3s;
}

#menu button {
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    border-radius: 6px;
    letter-spacing: 2px;
    background-color: var(--SoftRed);
    color: white;
    border: 1px solid white;
    padding: 10px 25px;
    transition: 0.3s;
}

#menu button:hover {
    color: var(--SoftRed);
    background-color: white;
    border: 1px solid var(--SoftRed);
}

#menu li a:hover {
    color: var(--SoftRed);
}

#btn-mobile {
    display: none;
}

/* hero */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px 0;
}

.display-hero {
    max-width: 470px;
}

.hero img {
    max-width: 560px;
    position: relative;
    animation: move 5s ease infinite;
}

.btn-hero {
    display: flex;
    justify-content: start;
}

@keyframes move {
    0%, 100% {
        top: 0;
    }
    50% {
        top: 20px;
    }
}

.display-hero h1 {
    color: var(--VeryDarkBlue);
    font-size: 2.8em;
}

.display-hero p {
    margin: 25px 0;
    color: var(--GrayishBlue);
}

.btn-hero {
    display: flex;
    gap: 20px;
}

.btn-hero button {
    cursor: pointer;
    border-radius: 6px;
    font-weight: 600;
    padding: 15px 25px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.192);
    transition: 0.3s;
}

.btn-hero button:nth-child(1) {
    border: 1px solid var(--SoftBlue);
    color: white;
    background-color: var(--SoftBlue);
}

.btn-hero button:nth-child(2) {
    border: 1px solid rgb(252, 252, 252);
    background-color: rgb(252, 252, 252);
    color: var(--GrayishBlue);
}

.btn-hero button:nth-child(1):hover {
    background-color: white;
    color: var(--SoftBlue);
}

.btn-hero button:nth-child(2):hover {
    border: 1px solid var(--GrayishBlue);
}

@media (max-width: 950px) {
    body {
        width: 100vw;
    }
    .hero {
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
    .hero img {
        max-width: 350px;
    }
    .display-hero h1 {
        margin: 35px 0;
        font-size: 28px;
    }
    .hero img {
        animation: none;
    }
    .btn-hero {
        display: flex;
        justify-content: center;
    }
    #btn-mobile {
        background-color: white;
        border: none;
        padding: 10px;
        display: block;
    }
    #menu {
        display: block;
        z-index: 99;
        position: absolute;
        opacity: 0.8;
        background-color: white;
        margin-top: 10px;
        width: 100vw;
        height: 0;
        top: 90px;
        right: 0;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }

    
    #menu li {
        border: 1px solid var(--VeryDarkBlue);
        border-left: 0;
        border-right: 0;
        text-align: center;
        max-width: 200px;
        margin: 0 auto;
        padding: 30px 0;
    }
    #menu a {
        padding: 30px 70px;
    }
    #nav.active #menu {
        height: 100%;
        visibility: visible;
        overflow-y: auto;
    }


    #btn-mobile>span{
        display: block;
        background-color: var(--VeryDarkBlue);
        margin: 5px 0;
        width: 20px;
        height: 2px;
        transition: 0.5s;
    }

    #nav.active #btn-mobile>span:nth-child(1){
        background-color: transparent;
        transform: translatey(5px);
    }
    #nav.active #btn-mobile>span:nth-child(2){
        transform: rotate(45deg);
    }
    #nav.active #btn-mobile>span:nth-child(3){
        transform: rotate(-45deg) translate(5px,-5px);
    }
}