@import url(../fonts/Rubik-Medium.ttf);
@import url(../fonts/Rubik-Regular.ttf);
:root {
    --GrayishBlue: hsl(229, 8%, 60%);
    --VeryDarkBlue: hsl(229, 31%, 21%);
    --SoftBlue: hsl(231, 69%, 60%);
    --SoftRed: hsl(0, 94%, 66%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    width: 95%;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    max-width: 1440px;
    margin: 0 auto;
}

.retangle-left {
    position: absolute;
    left: 0px;
    top: 1100px;
    z-index: -1;
    display: inline-block;
    background-color: var(--SoftBlue);
    border-radius: 0 80px 80px 0;
    width: 800px;
    height: 300px;
}

.retangle-right {
    position: absolute;
    right: 0px;
    top: 250px;
    z-index: -1;
    display: inline-block;
    background-color: var(--SoftBlue);
    border-radius: 80px 0 0 80px;
    width: 800px;
    height: 300px;
}

@media (max-width:1350px) {
    .retangle-left, .retangle-right {
        width: 460px;
    }
}

@media (max-width: 1050px) and (min-width:650px) {
    .retangle-right, .retangle-left {
        display: none;
    }
}

@media (max-width: 650px) {
    h1, h2, p {
        text-align: center;
    }
    .retangle-right {
        top: 220px;
        width: 300px;
        height: 200px;
    }
    .retangle-left {
        top: 1350px;
        width: 300px;
        height: 200px
    }
}

/* -------------------------------------------------- */