@import url(../css/main.css);

#authors{
    background-color: var(--VeryDarkBlue);
}

.attribution {
    max-width: 1180px;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    color: white;
    margin: 0 auto;
}

.attribution a {
    color: var(--Lime-Green);    
}
.attribution a:hover {
    color: greenyellow;    
}